<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="#F5F5F5" (click)="navigateTo('tramites')">
          <div class="button-content">
            <ion-img src="assets/img/boton1.png"></ion-img>
            <ion-label>TRAMITES</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="#F5F5F5" (click)="navigateTo('eventos')">
          <div class="button-content">
            <ion-img src="assets/img/boton2.png"></ion-img>
            <ion-label>EVENTOS</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="#F5F5F5" (click)="navigateTo('salud')">
          <div class="button-content">
            <ion-img src="assets/img/boton3.png"></ion-img>
            <ion-label>SALUD</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="#F5F5F5" (click)="navigateTo('daem')">
          <div class="button-content">
            <ion-img src="assets/img/boton4.png"></ion-img>
            <ion-label>DAEM</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="#F5F5F5" (click)="navigateTo('contacto')">
          <div class="button-content">
            <ion-img src="assets/img/boton5.png"></ion-img>
            <ion-label>CONTACTO</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="#F5F5F5" (click)="navigateTo('emergencia')">
          <div class="button-content">
            <ion-img src="assets/img/boton6.png"></ion-img>
            <ion-label>EMERGENCIA</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
